# Python 相關檔案
__pycache__/
*.pyc
.ipynb_checkpoints

# Flask/OS 相關
.flaskenv

# 隱藏資料夾，可能包含作業系統的臨時檔案
.DS_Store

# 忽略 ngrok log 檔案，它會持續變化
ngrok.log

# 暫時忽略 uploads 資料夾，因為上傳的檔案通常太大或不需要被 Git 追蹤
static/uploads/